#container{
    width: 1000px; 
    margin: 20px auto; 
    border: 1px solid #ccc;
}
div{
    border: 1px solid #222;
    width: 700px; 
    margin:0 auto; 
    border: none; 
    padding:20px; 
    margin-bottom: 30px;
}
#description{
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;}
#discription p{line-height: 2em;}
#discription ol li{line-height: 2em;}
#package{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
table, th, td{border: 1px solid #333; border-collapse:collapse ;}
th, td{padding: 10px 20px;}
caption{margin: 10px;}
