#container{width: 600px; margin: 0 auto;}
ul{list-style: none;}
ul li{margin: 15px;}
ul li label{width: 100px; float: left;}
.button{margin-top: 10px; text-align: center;}
.button input[type="submit"],[type="reset"]
    {width: 150px; height: 40px; margin: 5px; font-size: 1em;}
.button input:hover{
    background-color: darkblue; 
    color: #fff;
    border-color: #fff;}